<?xml version="1.0"?>


<launch>
    <param name="battery_flag" type="int" value="1" />
    <param name="controller_flag" type="int" value="0" />
    <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>
    <node name="state_machine" pkg="smach_tutorial" type="my_state_machine.py" output="screen" required="true" launch-prefix="xterm -e" />
    <node name="viewer" pkg="smach_viewer" type="smach_viewer.py" output="screen" required="true" />
    <node name="map_publisher" pkg="publishers" type="create_map_pub.py" output="screen" required="true" launch-prefix="xterm -e" />
    <node name="battery_publisher" pkg="publishers" type="battery_low_publisher.py" output="screen" required="true" launch-prefix="xterm -e" />
     
    <node name="controller_publisher" pkg="publishers" type="controller_pub.py" output="screen" required="true" launch-prefix="xterm -e" />
    <node name="planner_publisher" pkg="publishers" type="planner_pub.py" output="screen" required="true" launch-prefix="xterm -e" />
 
</launch>    
